
/* .head_spacer{
  line-height: 5vh;
} */

body{
  color: white;
  background-color: #1c1c1c;
  z-index: -1;
  font-family: 'IBM Plex Mono', monospace;
  /* min-width: 1600px; */
}
h2{
  font-size: 3em;
}

ul {
  text-decoration: none;
  list-style-type: none;
  /* border: 2px solid white; */
  margin: 20vh auto;
  padding: 0
}
li {
  /* border: 2px solid white; */
  margin: 5vh auto;
  position: relative;
  transition: 0.3s;
  left: -7vw;
}
li:Hover{
  left: 0;
}
nav{
  line-height: 5vh;
  z-index: 2;
  /* border: 2px solid white; */
  height: 100vh;
  width: 10vw;
  margin: auto;
  position: fixed;
  display: inline-block;
  /* min-width: 100px; */

}
/* p{
  font-size: .8em;
} */
.content{
  /* border: 2px solid white; */
  width: 60vw;
  margin: 20vh auto;

}
.max{
  /* max-width: 1500px; */
  margin: 20vh auto;
}
.side-button{
  background-color: white;
  border-radius: .2em;
  opacity: .2;
  /* width: 9.5vw; */
  width: 150px;
  height: 6vh;
  font-size: 30px;
  text-align: left;
}
.side-button:focus{
  border: none;
  outline: none;
}
.input_box{
  position: fixed;
  z-index: -5;
  opacity: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

}
.content_large{
  position: relative;
  /* top: -20vh; */
  /* border: 2px solid white; */
  height: 20vh;
  width: 900px;
  /* min-width: 900px; */
  margin: 20vh auto;
}
.content_projects{
  z-index: 3;
}

.project{
  border: 2px solid white;
  width: 100px;
  /* height: 30vh; */
  margin: auto 5vw;
  padding: 0 50px 0 50px;
}
.project{
  font-size: 40px;
}
.project_header{
/* border: 2px solid white; */
width: 61vw;
font-size: 60px;
margin: 50px auto;
}
.projects_content{
  /* border: 2px solid white; */
}


.header{
  position: relative;
  /* top: 10vh; */
  width: 70vw;
  margin: auto;
  /* border: 2px solid white; */
  font-size: 90px;
  padding: 0
}
.pwd{
  /* border: 2px solid white; */
  color: #b29600;
}
table{
  /* border: 2px solid white; */
  margin: 0 auto;
  /* z-index: 999; */
}
 a{
  position: relative;
  z-index: 5;
  border: 2px solid white;
  text-align: left;
  padding: 0 30px;
  text-decoration: none;
  color: inherit;
}
.project_link{
  position: relative;
  z-index: 5;
  /* text-align: left; */
  padding: 0 20px;
  font-size: 20px;
  margin: 0 10px;
  border: 2px solid white;
  background-color:rgba(255, 255, 255, .2);
}
.terminal{
  font-size: calc(.7vw + .7vh + .5vmin);
  border: 2px solid white;
  text-align: left;
  position: fixed;
  /* padding: 0 10px 0 1vw; */
  /* min-width: 700px; */
}
.terminal_command_line{
  font-size: calc(.7vw + .7vh + .5vmin);
  border: 2px solid white;
  /* margin: 5vh auto; */
  text-align: left;
  position: fixed;
}

.help_menu_nav {
  font-size: 2em;
  font-size: calc(.6vw + .6vh + .4vmin);
  position: fixed;
  border: 2px solid white;
  right: 2vw;
  top: 2vh;
  width: 20vw;
  /* height: 20vh; */
  color: #4b4b4b;
}
.error{
  top: 12vh;
}
.branch{
  color: #9818c5
}
.dark{
  color: #4b4b4b
}
.help{
  /* font-size: 20px; */
  /* min-width: 500px; */

}

.footer {
  /* border: 2px dashed white; */
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, .2);
  text-align: center;
  width: 100vw;
  height: 5vh;
  z-index: 3;
}
.footer a {
  /* padding: 40px; */
  /* border: 2px solid white; */


}
.landing_page_header{
    font-size: calc(4vw + 4vh + 3vmin);
}

.landing_page_text{
    font-size: calc(.7vw + .7vh + .3vmin);
}

.about_container{
  /* border: 2px solid white; */
  height: 70vh;
  width: 70vw;
  margin: 15vh auto;
}
.ryan_info{
  width: 60vw;
  font-size: calc(.7vw + .7vh + .3vmin);
  text-align: left;
}
.about_title{
  /* border: 2px solid white; */
  margin: 1vh auto;
  text-align: left;
}
@media screen and (max-width: 450px){
  .about_pic{
    max-height: 30vh;
  }
  .landing_page_header{
    font-size: 10vw;
  }
}
.about_pic{
  z-index: -2;
  height: 50vh;
  margin: 0 auto;
  padding: 0 1vw 0 0 ;
  position: relative;
  float: left;
}
.about_me{
  /* border: 2px solid white; */
  text-align: left;
}

.landing_page_text{
  text-align: center;
  /* min-width: 1000px; */
}

.project_text{
  /* border: 2px solid white; */
  text-align: center;
}

/* .landing_page {
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;
} */
img{
  height: 15vh;
}
.main_div{
  /* justify-content: center; */
  /* padding: 10em; */
  text-align: center;
  border: 2px solid #1c1c1c;
  height: 100vh;
  /* position: relative; */
  /* min-width: 1600px; */
  border: 2px solid white;
  resize: both;
  /* min-height: 580px; */
  /* overflow: auto; */
}
/* nav{
  justify-content: center;
  margin: auto;
  position: fixed;
} */

.App{
  /* border: 2px solid white; */
  /* min-width: 1600px; */
}

.logo{
  height: 50px;
  margin: auto 30px;
}
.logo:Hover{
  color: white;
}
.technologies{
  margin: 25vh auto;
  /* padding: 2vh 2vw; */
  /* border: 2px solid white; */
  /* display: flex;
  flex-wrap: wrap; */
  width: 100vw;
  /* height: 60vh; */
  /* min-width: 1600px; */
  background-color: rgba(255, 255, 255, .3);

}
.image{
  /* border: 2px solid white; */
  width: 10vw;
  height: auto;
}
.image_long{
  /* border: 2px solid white; */
  width: 20vw;
  height: auto;
}
.image_medium{
  width: 14vw;
  height: auto;
}
.htmllogo{
  /* border: 2px solid white; */
  width: 18vw;
  height: auto;
}
.logo_td{
  /* border: 2px solid white; */
}
.logo_td_rails{
  width: 22vw;
}
