.header {
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;
}
.header a {
  padding: 20px;
}
.footer {
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;
}
.footer a {
  padding: 20px;
}
.landing_page {
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;
}
